<div class="container">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../../assets/icon-white.png" alt="icon" class="icon"> Pomodoro</a>
    <form class="form-inline">
      <button class="btn btn-sm btn-outline-secondary" type="button"><img src="../../../assets/graph-white.png" alt="graph icon" class="button-img">Report</button>
      <button class="btn btn-sm btn-outline-secondary" type="button"><img src="../../../assets/config-white.png" alt="graph icon" class="button-img">Settings</button>
      <button class="btn btn-sm btn-outline-secondary" type="button"><img src="../../../assets/user-white.png" alt="graph icon" class="button-img">Login</button>
    </form>
  </nav>
</div>


