<div class="card text-center timer__container">
  <div class="card-header timer__container--section">
    <div class="timer__container--section">
      <button class="timer__container--button-active">Pomodoro</button>
      <button class="timer__container--button">Short Break</button>
      <button class="timer__container--button">Long Break</button>
    </div>
  </div>
  <div class="card-body">
    <div id="timer-string" class="timer__clock">25:00</div>
  </div>
  <div class="card-footer text-muted">
    <button color="hsl(2, 66%, 58%)" class="timer__start">START</button>
  </div>
</div>


<!-- <div class="timer__container">
  <div class="timer__container--section">
    <button class="timer__container--button-active">Pomodoro</button>
    <button class="timer__container--button">Short Break</button>
    <button class="timer__container--button">Long Break</button>
  </div>
    <div id="timer-string" class="timer__clock">25:00</div>
    <button color="hsl(2, 66%, 58%)" class="timer__start">START</button>
</div> -->
